[*.cs]

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = warning

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = none

# IDE0270: Use coalesce expression
dotnet_diagnostic.IDE0270.severity = warning

# IDE0270: Use coalesce expression
dotnet_style_coalesce_expression = false

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = warning
