name: Build (Release version)

on:
  push:
    branches: [ '**'  ]
  pull_request:
    branches: [ '**'  ]
    
jobs:
  BuildRelease:
    name: Release build EasyDBMigrator Package
    runs-on: windows-latest
    timeout-minutes: 15
  
    steps:
    - name: Check out the Repository
      uses: actions/checkout@v2

    - name: Setup .NET Core 8.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x

    - name: Setup .NET Core 9.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x

    - name: Setup .NET Core 10.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x
   
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build Release version
      run: dotnet build --configuration Release --no-restore
