name: Build, Test, CodeCoverage (Debug version)

on:
  push:
    branches: [ '**'  ]
  pull_request:
    branches: [ '**'  ]
    
jobs:
  BuildAndTest:
    name: EasyDBMigrator Package
    runs-on: windows-latest
    timeout-minutes: 15
  
    steps:
    - name: Check out the Repository
      uses: actions/checkout@v2

    - name: Setup .NET Core 8.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x

    - name: Setup .NET Core 9.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x

    - name: Setup .NET Core 10.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x
   
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build debug version all
      run: dotnet build --configuration Debug --no-restore
 
    - name: Run unittest with code-coverage
      run: dotnet test --no-build --verbosity normal --filter Category!=Integrationtest /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    
    - name: Upload code coverage to Codecov
      uses: codecov/codecov-action@v3
